# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Generated content such as class files and JARs, WARs, and EARs
target

# Eclipse project files
.project
.settings/

# Vim swap files
.*.swp
